*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    list-style-type : none;
}

.list-container{
    width : 100%;
    height : 100%;
    padding : 20px;
    position : relative;
    z-index : 2;
}

.list-box{
    list-style : none;
}

.list-box{
    li{
        width : 50%;
        height : 50px;
        border : 1px solid #eee;
        padding : 10px;
        padding-left : 20px;
    }

    a{
        font-size : 20px;
        font-family : 'sans-serif';
        font-weight: 300;
    }

    li:active{
        background : rgb(0, 123, 255);
        color : white;
    }
}

%alert-box{
    width : 80%;
    height : 50px;
    border-radius: 5px;
    margin : 20px;
    padding-left : 20px;
    line-height: 50px;
}

.alert-box{
    width : 100%;
    height : 100%;
    padding : 20px;

    p{
        vertical-align: middle;
    }

}

.alert-box-green{
    @extend %alert-box;
    background : rgb(223, 240, 216);
    color : rgb(140, 174, 148);
    
}

.alert-box-blue{
    @extend %alert-box;
    background : rgb(216, 237, 246);
    color : rgb(79, 125, 154);
}

.alert-box-yellow{
    @extend %alert-box;
    background : rgb(252, 248, 227);
    color : rgb(157, 134, 85);
}

@mixin col($width){
    width : $width;
    height : 100%;
    text-align : center;
}

.row{
    width : 100%;
    height : 100%;
    padding : 20px;
    display : flex;
}


.video-box {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .video-container {
    position: absolute;
    width : 100%;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    z-index: -1;
  }

  .ani-box{
    width : 100%;
    height : 100%;
    padding : 20px;
  }

  .ani-btn{
    width : 100px;
    height : 50px;
    background : rgb(135, 206, 235);
    border : none;
    border-radius : 5px;
    color : white;
    font-size : 15px;
  }

  .ani-btn:hover{
    animation: ani-turn 0.5s;
  }

  .ani-plus {
    font-size : 30px;
  }

  .ani-plus:hover{
    animation-name : ani-plus-turn;
    animation-duration: 1s;
  }

/* 메뉴바 */  

.sidebar-container{
    width : 50%;
    height : 1000px;
    background : black;
    position : absolute;
    z-index : 99;
    transition: left 0.5s ease;
    left : -150px;

    ul{
        margin : 0;
        padding : 0;
        width : 50%;
        height : 100%;
        overflow: auto;
    }

    li{
        margin-top : 30px;
        padding : 30px;
    }

    a{
        font-size : 30px;
        color : #eee;
    }
}

.sidebar-container:hover {
    left : 0;
}

.sidebar-item-m{
    position : absolute;
    left : 200px;
    cursor: pointer;
}

.sidebar-item-i{
    position : absolute;
    cursor: pointer;
}

.sidebar-container:hover .sidebar-item-m{
    left : 130px;
}

.sidebar-container:hover .sidebar-item-i{
    animation: item-i 0.5s;
    animation-fill-mode: forwards;
}

@keyframes ani-turn{
    0%{
        transform : rotate(0deg);
    }

    25%{
        transform : rotate(-15deg);
    }

    50%{
        transform : rotate(15deg);
    }

    75%{
        transform : rotate(-15deg);
    }

    100%{
        transform : rotate(0deg);
    }
}

@keyframes ani-plus-turn{
    0%{
        transform : rotate(-30deg);
    }

    50%{
        transform : rotate(30deg);
    }

    100%{
        transform : rotate(30deg);
        transform : scale(1.5)
    }
}

@keyframes item-i{
    0%{
        opacity : 0;
        transform: translateX(-100px);
    }

    50%{
        opacity : 0.5;
        transform : translateX(250px);
        transform: skew(30deg, 0);
    }

    75%{
        opacity : 0.8;
        transform: translateX(200px);
        
    }

    100%{
        opacity: 1;
        transform: translateX(110px);
    }
}


.col-12{
    @include col(100%);
}

.col-11{
    @include col(91.66%);
}

.col-10{
    @include col(83.33%);
}

.col-9{
    @include col(75%);
}

.col-8{
    @include col(66.66%);
}

.col-7{
    @include col(58.33%);
}

.col-6{
    @include col(50%);
}

.col-5{
    @include col(41.66%);
}

.col-4{
    @include col(33.33%);
}

.col-3{
    @include col(25%);
}

.col-2{
    @include col(16.66%);
}

.col-1{
    @include col(8.33%);
}

@media (max-width : 768px){
    .col-md-6{
        @include col(50%);
    }
}




