.profile{
    width:200px; 
    display:block; 
    margin-left : auto; 
    margin-right : auto
}

.profile-userName{
    color:blue; 
    font-size:40px; 
    text-align:center; 
    line-height: 5px;
}

.profile-userInfo{
    text-align:center; 
    font-size:20px;
}

.profile-userInfo span{
    color:red; 
    font-weight:900; 
    line-height:1em;
}

.profile-userProfile{
    border-radius:5px;
    padding:10px; 
    margin : 10px;
    margin-left : auto;
    margin-right : auto;
    background-color:cadetblue; 
    color:white;
    text-align:center;
    box-shadow: 5px 5px 5px 1px black;
}

.container{
    width : 100%;
}


.left-menu {
    width : 70%;
    height : 300px;
    /* background : cornflowerblue; */
    /*float : left;*/
    /* display : inline-block; */
    float : left;
}


.header-menu{
    width : 70%;
    height : 25%;
    line-height : -1px;
}

.header-menu img{
    width : 60px;
    height : 60px;
    padding : 10px;
    vertical-align: top;
}

.header-menu span{
    display : inline-block;
    margin : 0px;
    padding : 0px;
    margin-top : 15px;
    margin-left : 0px;
    margin-right : 10px;
    font-size : 20px;
    color : black;
}

.header-menu p{
    display : inline-block;
    margin : 0px;
    padding : 0px;
    margin-left : 1px;
    margin-right : 10px;
    font-size : 15px;
    color : gray;
}

.container-menu{
    padding-left : 15px
}

.container-menu p{
    color : gray;
    font-size : 20px;
    font-weight : 540;
}

.right-menu{
    width : 30%;
    height : 300px;
    /* background : darkcyan;  */
    /* display: inline-block; */
    float : left;
}

.right-menu img{
    width : 100%;
    height : 100%;
    padding : 5px;
    /* display : block;
    margin-left : auto;
    margin-right : auto; */
    /* background: bisque; */
}