div{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-background{
    width: 100%;
    height : 500px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/shoes.jpg);
    background-size : cover;
    background-repeat : no-repeat;
    background-position : center;
    padding : 1px;
    position : relative;
}

.main-title{
    color: white;
    font-size: 40px;
    text-align : center;
    padding-left : 20px;
    margin-top: 100px;
    margin-bottom : 0px;
}

.main-content{
    color: white;
    font-size: 20px;
    text-align : center;
    padding-left : 20px;
    margin-top: 20px;
}

.main-button{
    cursor: pointer;
    color : black;
    font-size : 25px;
    padding : 15px;
    border : 1px solid transparent;
    border-radius : 5px;
    background-color: white;
    /* display:block;
    margin-left : auto;
    margin-right : auto;
    margin-top : 50px; */
    position : absolute;
    left : 0;
    right : 0;
    margin-left : auto;
    margin-right : auto;
    width : 150px;
}

.main-button a{
    color : black;
    text-decoration-line: none;
    margin:           
}

.main-button:visited{
    color : white;
    text-decoration-line: none;
}

.main-contentbox{
    width : 80%;
    max-width : 600px;
    height : 300px;
    border : none;
    background : #eee;
    position : absolute;
    left : 0;
    right : 0;
    margin-left : auto;
    margin-right : auto;
    bottom : -250px;
}

.main-contentbox h1{
    text-align : center;
    font-size : 30px;
    margin-top : 50px;
    padding : 10px;
}

.main-contentbox p{
    text-align : center;
    font-size : 19px;
    margin-top : 20px;
    padding : 20px;
    z-index: 1;
}

form{
    position : absolute;
    bottom : -300px;
}

.text-input{
    padding : 10px;
    font-size : 20px;
    border : 1px solid black;
    border-radius: 5px;
}

.flex-container{
    display : flex;
    justify-content: center;
    align-items : center;
}

.flex-item{
    width : 300px;
    height : 70px;
    background-color: rgb(255,117,118);
    font-size : 30px;
    color : white;
    text-align: center;
    line-height: 60px;
}

.nav-container{
    display : flex;
    height: 50px;
    align-items: center;
}

.nav-item{
    margin-right : 10px;
}

.test-container{
    display : flex;
    width : 100vw;
    height : 20vw;
    background : gray;
    justify-content: center;
    align-items: center;
    display : flex;
    position : relative;
    top : 250px;
}

.test-item{
    width : 100%;
    padding : 10px;
    margin : 10px;
    text-align: center;
}

@media screen and (max-width : 800px){
    .test-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .test-item{
        flex-wrap : wrap;
    }
}

@media screen and (max-width : 480px) {
    .test-container{
    }

    .test-item{
    }
}